@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --passion-black: #0F0F0F;
    --passion-red: #8B0000;
    --gold: #D4AF37;
    --soft-gray: #E5E5E5;
}

@layer base {
    body {
        background-color: var(--passion-black);
        color: var(--soft-gray);
        @apply antialiased;
        font-family: 'Inter', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif text-white;
    }
}